services:

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "8050:80"
    environment:
      - CHOKIDAR_USEPOLLING=true  # Ensures proper file watching in Docker
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped
    networks:
      - app_network

  backend:
    build: 
      context: ./backend
    container_name: backend
    ports:
      - "8051:8051"
    volumes:
      - ./backend:/app
    devices:
      - "/dev/video0:/dev/video0"
    restart: unless-stopped
    networks:
      - app_network

networks:
  app_network:
    driver: bridge